@charset "UTF-8";
/* CSS Document */
BODY {
    font-family: Arial Narrow, Arial, Verdana, Helvetica;
}

BODY, TD {
    font-size: 15px;
}

.content {     
     /*width: 1000px;*/
    margin: 0px auto;
     background: #FFF;
    box-shadow: 0px 0px 6px 6px #E6E6E6;
    line-height: 25px;
    margin: 0 7em 0;
 }

.middle {
/*
    width: 800px;
    padding-left: 100px;
    padding-bottom: 30px;
*/
    height: 100%;
    padding: 0 7em ;
}

H1 {
    font-family: Arial Narrow, arial;
    color: #922900;
    font-size: 20px;
    margin: 0px 0px 5px 35px;
}

H1 A {
    color: #0a5dac;
    text-decoration: none;
}

H2 {
    font-family: Arial Narrow, arial;
    color: #0a5dac;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    margin: 5px 0px 3px 0px;
}

H3.subTitle {
    font-family: Arial Narrow, arial;
    color: #0a5dac;
    font-size: 100%;
}

H3 {
    font-family: Arial Narrow, arial;
    color: #2f61a4;
    font-size: 140%;
    margin: 25px 0px 5px 0px;
}

#parent {
    text-align: center;
    background: #2f61a4;
}

@media only screen
and (max-device-width : 812px) {
    .content {
        margin: 0;
    }

    .middle {
        padding: 0 2em;
    }

    #parent img {
        width: 100%;
    }
}